<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="container">
  <div class="row mt-5">
    <h2 class="text-center">Activity</h2>
    <%= render partial: "analytics/page_views" %>
  </div>
</div>
